<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<p id="datum"></p>
<!--<label for="dateofbirth">Enter your birth date (YYYY-MM-DD) </label>
<input type="text" id="dateofbirth">
<button id="submitbtn">Submit</button>-->
<!--<p>You were born on a <span id="displayday"></span></p>-->
<!--<p id="currenttime"></p>-->
<!--<label for="color">Enter a number: </label>
<input id="color">
<input id="submitknapp" type="submit">
<span id="coloroutput">Your color is: </span>-->
<script type="text/javascript" src="../script/index.js"></script>
</body>
</html>