<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <!--<p id="text">Unikt fynd av pilgrimsmussla i Öresund
        Musslan har aldrig tidigare hittats i Öresund. Nu finns den att se på Öresundsakvariet i Helsingör.</p>
    <button id="knapp">Click me</button>-->
    <!--<form>
        <input type="text" id="fält1">
        <input type="text" id="fält2">
        <input type="submit">
    </form>-->
    <!--<a href="#" id="länk" hreflang="sv" target="">Click</a>
    <button value="Klicka" id="knappen"></button>-->
    <!--<table id="tabell">
        <tr>
            <th>Förnamn</th>
            <th>Efternamn</th>
            <th>Ålder</th>
            <th>Ort</th>
        </tr>
        <tr>
            <td>Linus</td>
            <td>Plume</td>
            <td>26 år</td>
            <td>Helsingborg</td>
        </tr>
        <tr>
            <td>Carina</td>
            <td>Plume</td>
            <td>53 år</td>
            <td>Helsingborg</td>
        </tr>
        <tr>
            <td>Tonny</td>
            <td>Plume</td>
            <td>53 år</td>
            <td>Helsingborg</td>
        </tr>
    </table>
    <button id="nyrad">Ny rad</button>
    <button id="tabortrad">Ta bort rad</button>-->


    <!--<button id="knapp">Test</button>
    <p id="demo"></p>-->
    <!--<input id="mininput" value="Linus Plume">
    <input type="submit" id="submitknapp">-->

<script src="../script/index.js"></script>
</body>
</html>